numpy
matplotlib
pandas
scikit-learn
keras
tensorflow
pydot
graphviz
pydot-ng
pillow
pydotplus
xgboost
catboost
umap-learn
scipy.io
plotly.express
optuna
optuna.integration
flask
flask_limiter
flask_cors
flask_wtf
